{% extends 'base.html.twig' %}

{% block header_title %}<h1>Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.role) }}
    {{ form_row(registrationForm.password, {
        label: 'Password'
    }) }}

    <button type="submit" class="btn btn-success pull-right">Ajouter</button>
    {{ form_end(registrationForm) }}
{% endblock %}
